[submodule "active-adaptation"]
	path = active-adaptation
	url = https://github.com/MIy2003/active-adaptation.git
	branch = dev/hdmi
	ignore = untracked
[submodule "mimic-lite"]
	path = mimic-lite
	url = https://github.com/MIy2003/mimic-lite.git
	branch = main
[submodule "sim2real"]
	path = sim2real
	url = https://github.com/MIy2003/sim2real.git
	branch = main
[submodule "any4hdmi"]
	path = any4hdmi
	url = https://github.com/MIy2003/any4hdmi.git
	branch = main
